body{

    text-align: center;
    font-family: "Arial";
    color: white;
    background: black;

}

.cabecera{
    
    display: flex;
    align-items: center;
    align-content: space-between;

    justify-content: flex-start;
    background: grey

}

.cabecera #logo{

    width: 60px;
}